<div class="portfolio-about" id="aboutSection">
  <h4>Sobre mim</h4>

  <div class="row about-theme">
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <div class="row">
        <div class="col-12">
          <h4>
            Olá! Sou uma desenvolvedora entusiasmada com três anos de
            experiência, imersa nas complexidades do back-end e na elegância do
            front-end para o desenvolvimento tanto de <b>web</b> quanto de
            <b>jogos</b>. Minhas habilidades abrangem diversas tecnologias, tais
            como
            <b>
              Angular, React, Razor, Typescript/Javascript, HTML/CSS, SQL
              Server, My SQL e GraphQL
            </b>
          </h4>
        </div>
        <div class="col-12 mt-5">
          <div class="col-12">
            <h2>Especialização</h2>
          </div>
          <div class="col-12">
            <app-html-icon></app-html-icon>
            <app-css-icon></app-css-icon>
            <app-js-icon></app-js-icon>
            <app-ts-icon></app-ts-icon>
            <app-angular-icon></app-angular-icon>
            <app-react-icon></app-react-icon>
            <app-cplus-icon></app-cplus-icon>
            <app-csharp-icon></app-csharp-icon>
            <app-dotnet-icon></app-dotnet-icon>
            <app-mysql-icon></app-mysql-icon>
            <app-gql-icon></app-gql-icon>
            <app-sqlserver-icon></app-sqlserver-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <picture>
        <source srcset="../../assets/JAS_5386.jpg" type="image/svg+xml" />
        <img
          src="../../assets/JAS_5386.jpg"
          class="img-fluid img-thumbnail rounded-circle about-image shadow-lg"
          alt="../../assets/JAS_5386.jpg"
        />
      </picture>
    </div>
  </div>
</div>
