<div class="portfolio-about" id="aboutSection">
  <h4>Sobre mim</h4>

  <div class="row about-theme">
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <h4>
        Raw denim you probably haven't heard of them jean shorts Austin.
        Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache
        cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
        butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui
        irure terry richardson ex squid. Aliquip placeat salvia cillum iphone.
        Seitan aliquip quis cardigan american apparel, butcher voluptate nisi
        qui.
      </h4>
      <h2>Especialização</h2>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <div class="about-image rounded-circle overflow-hidden">
        <img src="../../assets/JAS_5386.jpg" class="img-fluid" />
      </div>
    </div>
  </div>
</div>
