.svg-icons {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  fill: rgb(129, 129, 129);
}

.path-csharp1 {
  fill: rgb(97, 97, 97);
}

.svg-icons:hover .path-csharp1 {
  fill: #68217a;
}

.path-csharp2 {
  fill: rgb(129, 129, 129);
}

.svg-icons:hover .path-csharp2 {
  fill: #9b4f96;
}
