<div class="portfolio-home">
  <div class="content text-start">
    <h5>Hello World!</h5>
    <h1>Oi, eu sou Larissa Trindade...</h1>
    <h3 class="txt-animado">Eu sou desenvolvedora <span></span></h3>
    <div class="d-flex justify-content-center mt-2">
      <button
        type="button"
        class="btn btn-outline-secondary"
        routerLink="/about"
        (click)="scrollToAbout()"
      >
        Sobre mim
      </button>
    </div>
    <div class="d-flex flex-row justify-content-center">
      <div class="social-icons me-3">
        <a href="https://www.linkedin.com/in/larissa-trindade" target="_blank"
          ><i class="bi bi-linkedin"></i
        ></a>
      </div>
      <div class="social-icons me-3">
        <a href="https://github.com/LarissaTrin" target="_blank"
          ><i class="bi bi-github"></i
        ></a>
      </div>
      <div class="social-icons">
        <a href="https://wa.me/+5521992510402" target="_blank"
          ><i class="bi bi-whatsapp"></i
        ></a>
      </div>
    </div>
  </div>
</div>
